<div class="container" *ngIf="manufacturer">
    <h1>Manufacturer</h1>
    <h3 *ngIf="manufacturer.id">#ID <span>{{manufacturer.id}}</span></h3>
    <hr>
  
    <div>
      <form #f="ngForm" (ngSubmit)="onSubmit()">

        <div class="form-group row"> 
          <label class="col-sm-3 col-form-label">Name</label>
          <div class="col-sm-4">
            <input class="form-control"
              [appModify]="['admin']"
              [ngClass]="{
                'is-invalid': name.invalid && (name.dirty || name.touched),
                'is-valid': name.valid && (name.dirty || name.touched)
              }"
              [(ngModel)]="manufacturer.name" 
              type="text" 
              name="name_input" 
              placeholder="e.g. Ferrari"
              required
              maxlength="200"
              #name="ngModel">
              <div class="invalid-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
                <p *ngIf="name.errors.required">Name is required</p>
                <p *ngIf="name.errors.maxlength">Name is too long</p>
              </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">City</label>
          <div class="col-sm-4">
            <select name="City" [(ngModel)]="manufacturer.cityId" class="custom-select"
              [appModify]="['admin']"
              [ngClass]="{
                'is-invalid': city.invalid && (city.dirty || city.touched),
                'is-valid': city.valid && (city.dirty || city.touched)
              }"
              required
              #city="ngModel">
              <option *ngFor="let c of cities" [ngValue]="c.id">{{c.name}}</option>
            </select>
            <div class="invalid-feedback" *ngIf="(!manufacturer.cityId || city.errors) && (city.dirty || city.touched)">
              <p>City is required</p>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label">Country</label>
          <div class="col-sm-4">
            <select name="Country" [(ngModel)]="manufacturer.countryId" class="custom-select"
              [appModify]="['admin']"
              [ngClass]="{
                'is-invalid': country.invalid && (country.dirty || country.touched),
                'is-valid': country.valid && (country.dirty || country.touched)
              }"
              required
              #country="ngModel">
              <option *ngFor="let c of countries" [ngValue]="c.id">{{c.name}}</option>
            </select>
            <div class="invalid-feedback" *ngIf="(!manufacturer.countryId || country.errors) && (country.dirty || country.touched)">
              <p>Country is required</p>
            </div>
          </div>
        </div>

        <div class="form-group row" *canAccess="['admin']">
          <div class="offset-sm-3 col-sm-4">
            <button type="submit" class="btn btn-secondary active"
              [disabled]="f.invalid || !f.dirty">Save</button>
          </div>
        </div>
      </form>
    </div>
    <hr>
  
    <div class="row">
      <button class="btn btn-secondary" (click)="goBack()">Back</button>
    </div>
  
    <div *ngIf="manufacturer.id">
        <br>
        <h4>View car models of this manufacturer</h4>
        <br>
    
        <div class="accordion" id="listview">
          <app-model-listing [name]="'Models'" [path]="'/models'" [modelsGetter]="getManufacturerModels()"></app-model-listing>
        </div>
      </div>
  </div>
  